body {
  margin: 0;
  background-image: url(./images/EachWellinformedAidi-small.gif);
  background-color: #1e1e24;
  background-repeat: repeat;
  background-size: 200px;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #CB2D3A;
  text-align: center;
}

