* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

header {
  background-color: rgb(59, 56, 56);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.summary {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.techs-container {
  display: flex;
  justify-content: center;
}

.techs {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  width: 512px;
  justify-content: center;
}

.techs div{
  background-color: rgba(241, 232, 232, 0.233);
  border-radius: 15px;
  -webkit-box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.18); 
  box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.18);
  width: 160px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


footer {
  display: flex;
  justify-content: center;
}

.hr-fix {
  width: 168.797px;
  margin: 30px auto;
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}
