div:nth-child(3) {
    color: blue;
    background-color: teal;
}
div:nth-child(4) {
    color: red;
    font-size: 25px;
}
div:nth-child(5) {
    color: palegreen;
}
div:nth-child(6) {
    color: darkblue;
}
div:nth-child(7) {
    color: whitesmoke;
}
div:nth-child(odd) {
    font-style: italic;
}
div:hover {
    border: 2px solid black;
}