.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  min-width: 25%;
  margin: 20px;
  border: 1px solid gray;
  border-radius: 25px;
}

.pokemon-info {
  flex: 1 1 0;
  padding: 5px;
  margin: 10px 10px;
  border: 1px gray solid;
  border-radius: 10px;
}

.pokedex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 10px;
}

section img {
  margin: 5px;
  width: fit-content;
  height: auto;
}