body {
    font-size: 16px;
}
h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;

}
p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}
li {
    font-size: 20px;
}
#unordered-list {
    background-color: rgb(211, 35, 173);
    
}

.background {
    background-color: deepskyblue;
}